<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet"  href="static/css/element-ui.css">
    <script src="static/js/common/vue.js"></script>
    <script src="static/js/common/jquery-3.4.1.min.js"></script>
    <script src="static/js/common/md5.js"></script>
    <script src="static/js/common/api.js"></script>
    <script src="static/js/common/element-ui.js"></script>
    <script src="static/js/common/user.js"></script>
    <script src="static/js/common/util.js"></script>
    <script src="static/js/common/cookieUtil.js"></script>
    <script src="static/js/role.js"></script>

</head>
<style>
    .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }

</style>
<body>
    <div style="text-align:center;width:50%;margin:0 auto;    color: #12a1e9;
    font-family: 华文行楷;font-weight: bold;font-size:40px;">

        <h1>何氏推拿-后台管理</h1>
    </div>
    <div style="height:50px;"></div>
    <div id="main" style="text-align:center;width:30%;margin:0 auto">
        <el-row :gutter="20">
            <template>
                <el-select clearable  v-model="roleId" placeholder="请选择角色">
                    <el-option
                            v-for="item in roleList"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
            </template>
        </el-row>

        <el-row :gutter="20">
            <template>
                <el-button style="width:30%" type="primary" id="chooseRole" >确定</el-button>
            </template>
        </el-row>





    </div>






</body>
<script>

</script>
</html>